<h2>Products</h2>

<div *ngFor="let product of products;index as productId">
    <h3>
        <a [title]="product.name + ' detail'" [routerLink]="['/detail',productId]">
            {{product.name}}
        </a>
    </h3>
    <p *ngIf="product.description">
        Description: {{product.description}}
    </p>
    <div class="item-tool-bar">
        <button (click)="share()" class="tool-item">share</button>
        <app-product-alert [product]="product" (notify)="onNotify()" class="tool-item"></app-product-alert>
        <button class="tool-item danger" (click)="buy(product)" *ngIf="product.price<700">buy</button>
    </div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
